body{
    background-color: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}
.purple_block{
    text-align: center;
    padding: 5px 20px;
    margin: 1px;
    border: 3px solid rebeccapurple;
    width: 70%;
    height: 20em; 
}
#greengreen{
    color: green;
    font-size: 1.5em;
}
.pink_block{
    text-align: center;
    padding: 5px 20px;
    margin: 1px;
    border: 3px solid palevioletred;
    width: 200px; 
}

#movingTitle{
    position: relative;
    animation-name: movingHeader;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-delay: 1s;
}

@keyframes movingHeader {
    from {top: 0px; left: 0px;}
    to {top: 0px; left:900px;}
}